*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(#000000, 0);
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Lausanne;
  font-weight: 400;
}

main.project {
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  font-family: Lausanne;
}

p {
  font-family: Lausanne;
  font-weight: 400;
}

.logo--dark {
  position: relative;
  padding: 2vw 0rem 0rem 2vw;
  svg {
    width: 10vw;
    @media (max-width: 767.98px) {
      width: 25vw;
    }
    rect,
    polygon,
    path {
      fill: black;
    }
  }
  @media (max-width: 767.98px) {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 0rem;
  }
}

/* Navigation */

.navbar {
  position: relative;
  height: 12rem;
  width: 100%;
  overflow: hidden;
  @media (max-width: 767.98px) {
    height: auto;
    overflow: unset;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: white;
  }
}

.navbar--fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: transparent;
}

.navbar__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 190px;
  padding-left: 12vw;
  padding-bottom: 2vw;
  padding-right: 2vw;
  @media (max-width: 767.98px) {
    padding: 0rem 1rem;
    height: auto;
  }
}

.navbar__link {
  font-size: 1.3rem;
  color: white;
  @media (max-width: 1199.98px) {
    font-size: 1.1rem;
  }
  @media (max-width: 767.98px) {
    font-size: 1.3rem;
    padding: 1.5rem 0rem 1rem 0rem;
  }
  a {
    color: white;
    font-size: 1.3rem;
    line-height: 1;
    transition: all 0.4s ease;
    @media (max-width: 1199.98px) {
      font-size: 1.1rem;
    }
    @media (max-width: 767.98px) {
      font-size: 1.3rem;
    }
    &:hover {
      color: #cccccc;
    }
  }
  &.is-active {
    a {
      color: #ccc;
    }
  }
}

.navbar__link--dark {
  color: black;
}

.navbar__link--dropdown {
  position: relative;
}

.navbar__link--dropdown:hover .dropdown {
  transform: translate3d(0px, -100%, 0px);
  @media (max-width: 767.98px) {
    transform: translate3d(0px, -100%, 0px);
  }
}

.navbar__link--dropdown:hover .dropdown .dropdown__item {
  opacity: 1;
}

.dropdown {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate3d(0px, 100%, 0px);
  display: flex;
  flex-wrap: wrap;
  width: 55vw;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  will-change: transform;
  @media (max-width: 991.98px) {
    padding-right: 0.5rem;
    width: 0vw;
  }
  @media (max-width: 767.98px) {
    width: 100vw;
    max-height: 72vh;
    overflow: auto;
    padding: 1rem 0rem 0rem 1rem;
    left: -1rem;
    transform: translate3d(-100%, -100%, 0%);
  }
  &.dropdown__bg--sm {
    @media (max-width: 767.98px) {
      background-color: rgba(255, 255, 255, 0.95);
    }
  }
}

.dropdown__item {
  flex: 0 33.33%;
  padding: 0.3rem 0.5rem 0.3rem 0rem;
  transition: all 0.4s ease;
  opacity: 0;
  will-change: opacity;
  text-decoration: none;
  @media (max-width: 991.98px) {
    flex: 0 50%;
  }
  @media (max-width: 767.98px) {
    flex: 0 100%;
    padding: 0.5rem 0.5rem 0.5rem 0rem;
  }
  &:focus {
    opacity: 1;
  }
  &:hover {
    .dropdown__item__title,
    .dropdown__item__category {
      color: #cccccc;
    }
  }
  .dropdown__item__title {
    color: white;
    font-size: 1.3rem;
    transition: all 0.4s ease;
    @media (max-width: 1199.98px) {
      font-size: 1.1rem;
    }
    @media (max-width: 767.98px) {
      font-size: 1.3rem;
    }
  }
  .dropdown__item__category {
    color: white;
    font-size: 0.8rem;
    vertical-align: middle;
    padding-left: 0.4rem;
    transition: all 0.4s ease;
    @media (max-width: 1199.98px) {
      font-size: 0.7rem;
      display: block;
      padding-left: 0rem;
    }
    @media (max-width: 991.98px) {
      display: inline-block;
      padding-left: 0.3rem;
    }
  }
}

.dropdown__item--dark {
  .dropdown__item__title,
  .dropdown__item__category {
    color: black;
  }
}

/* SVG morph */

.morph-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0px;
  left: 0px;
  z-index: 100;
  svg {
    width: 100%;
    height: 100%;
  }
}
