.content {
  display: flex;
  justify-content: space-between;
  padding: 0rem 6vw 0rem 2vw;
  margin-top: 3.5rem;
  @media (max-width: 767.98px) {
    margin-top: 2rem;
    display: block;
    padding: 0rem 1rem;
  }
}

.content__sm--pb {
  div {
    margin-top: 0.2rem;
    a {
      display: flex;
      align-items: center;
      svg {
        width: 15px;
        height: 15px;
        margin-right: 0.3rem;
        margin-top: -1px;
      }
      span {
        color: black;
        vertical-align: middle;
      }
    }
  }
  @media (max-width: 767.98px) {
    padding-bottom: 6rem;
  }
}

.content__blk {
  width: 45%;
  @media (max-width: 767.98px) {
    width: 100%;
  }
  &.content__blk--flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 767.98px) {
      display: block;
      margin-bottom: 2rem;
    }
  }
}

.content h1 {
  font-size: 1.5rem;
}

.content h2,
.content p {
  font-size: 1.1rem;
  line-height: 1.2;
}

.mbl {
  margin-bottom: 3rem;
}

.mbm {
  margin-bottom: 2rem;
}

p.fs-sm,
a.fs-sm {
  font-size: 0.9rem;
}

p.fs-lg {
  font-size: 1.4rem;
}

.hidden--sm {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.visible--sm {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}
