.content {
  display: flex;
  justify-content: space-between;
  padding: 0rem 2vw;
  margin-top: 2rem;
}

.content__blk {
  width: 45%;
}

.content h1 {
  font-size: 1.5rem;
}

.content h2,
.content p {
  font-size: 1.1rem;
  line-height: 1.2;
}

.mbl {
  margin-bottom: 3rem;
}

p.fs-sm {
  font-size: 0.9rem;
}

p.fs-lg {
  font-size: 1.5rem;
}

.anime-text {
  opacity: 0;
  //transform: translateY(80px);
}
