/* bg-image */

.bg-image {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg-image__wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s ease;
  transform: scale(1.05);
  &.active {
    opacity: 1;
    transform: scale(1);
  }
}

.bg-image__object {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  object-fit: cover;
  object-position: center center;
  transition: all 0.4s ease;
  transform: scale(1.03);
  opacity: 0;
}

.bg-image__object.active {
  opacity: 1;
  transform: scale(1);
}

.bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Home content */

.logo {
  position: absolute;
  top: 2vw;
  left: 2vw;
  z-index: 2;
  svg {
    width: 10vw;
    @media (max-width: 767.98px) {
      width: 25vw;
    }
    polygon,
    path,
    rect {
      fill: #fff;
    }
  }
  @media (max-width: 767.98px) {
    top: 2rem;
    left: 2rem;
  }
}
