.info {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  height: 210px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  //padding: 0rem;
  z-index: 3;
  @media (max-width: 1199.98px) {
    height: 240px;
  }
  @media (max-width: 767.98px) {
    position: fixed;
    left: 0%;
    bottom: 0%;
    padding: 0rem 1rem;
    height: auto;
    width: 100%;
    justify-content: space-between;
    overflow: unset;
    z-index: 2;
  }
}

.info__logo {
  width: 13vw;
  padding-left: 1rem;
  svg {
    // height: 2.5vw;
    width: 110px;
    @media (max-width: 1199.98px) {
      width: 100px;
      height: auto;
    }
    @media (max-width: 991.98px) {
      width: 75px;
    }
    @media (max-width: 767.98px) {
      width: 110px;
    }
    path,
    polygon,
    rect {
      fill: black;
      transition: fill 0.3s ease;
    }
    &:hover {
      rect,
      polygon,
      path {
        fill: #ccc;
      }
    }
  }
  @media (max-width: 1199.98px) {
    width: 16vw;
  }
  @media (max-width: 991.98px) {
    width: 13vw;
  }
  @media (max-width: 767.98px) {
    width: auto;
    padding: 0rem;
    margin-bottom: 1rem;
  }
}

.info__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 60vw;
  padding-right: 1.5rem;
  @media (max-width: 1199.98px) {
    width: 54vw;
  }
  @media (max-width: 991.98px) {
    width: 55vw;
    padding-right: 1rem;
  }
  @media (max-width: 767.98px) {
    font-size: 1.3rem;
    display: block;
    width: auto;
  }
}

.info__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 17vw;
  @media (max-width: 1199.98px) {
    width: 20vw;
  }
  @media (max-width: 767.98px) {
    width: 100%;
    flex-direction: row;
    > div {
      width: 50%;
    }
  }
}

.info__content div p {
  font-size: 1rem;
  margin-bottom: 1rem;
  @media (max-width: 767.98px) {
    margin-bottom: 0rem;
  }
  @media (max-width: 991.98px) {
    font-size: 0.9rem;
  }
}

.info__content div span {
  font-size: 0.8rem;
}

.info__content__title {
  margin-bottom: 1rem;
  @media (max-width: 767.98px) {
    margin-bottom: 0.5rem;
  }
  h1 {
    font-size: 1.4rem;
    text-transform: lowercase;
    @media (max-width: 991.98px) {
      font-size: 1.1rem;
    }
    @media (max-width: 767.98px) {
      font-size: 1.3rem;
    }
    span {
      font-size: 0.8rem;
      vertical-align: middle;
      @media (max-width: 1199.98px) {
        font-size: 0.7rem;
      }
    }
  }
}

.info__link {
  line-height: 1;
  align-self: flex-end;
  color: black;
  font-size: 1.3rem;

  span {
    transition: all 0.3s ease;
    &:hover {
      color: #cccccc;
    }
  }
  @media (max-width: 1199.98px) {
    font-size: 1.1rem;
  }
  @media (max-width: 767.98px) {
    font-size: 1.3rem;
    padding: 1rem 0rem;
  }
  a {
    color: black;
    font-size: 1.3rem;
    transition: all 0.3s ease;
    @media (max-width: 991.98px) {
      font-size: 1.1rem;
    }
    @media (max-width: 767.98px) {
      font-size: 1.3rem;
    }
    &:hover {
      color: #cccccc;
    }
  }
}

.info__link--special {
  width: 10vw;
  text-align: right;
  padding-right: 1rem;
  @media (max-width: 991.98px) {
    width: 12vw;
  }
  @media (max-width: 767.98px) {
    display: block;
    width: auto;
    padding-right: 0vw;
  }
}

.info__link--dropdown {
  position: relative;
  cursor: pointer;
}

.info__link--dropdown.open .dropdown {
  transform: translate3d(0px, -192px, 0px);
  @media (max-width: 1199.98px) {
    transform: translate3d(0px, -225px, 0px);
  }
}

.info__link--dropdown.open .dropdown .dropdown__item {
  opacity: 1;
}

.hidden--sm-flex {
  display: none;
  @media (min-width: 768px) {
    display: flex;
  }
}

.hidden--sm-block {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}
